In [2]:
import pandas as pd

In [3]:
df_customers = pd.DataFrame({
    "CustomerId" : [1,2,3],
    "CustomerName": ["A", "B", "C"]
})

In [4]:
df_orders = pd.DataFrame({
    "CustomerId" : [ 1,2,4],
    "OrderAmount" : [ 250, 450,950]
     
})

In [7]:
df_concatenate = pd.concat([df_customers,df_orders],axis=0,ignore_index=True)

If i write axis =1 than it will concatenate data frame column wise

else on axis =0  it will concatenate row wise

In [8]:
df_concatenate

   CustomerId CustomerName  OrderAmount
0           1            A          NaN
1           2            B          NaN
2           3            C          NaN
3           1          NaN        250.0
4           2          NaN        450.0
5           4          NaN        950.0

axis = 0 vertically concatenate

axis = 1 horizontally concatenate