pd.merge(df1, df2, on = "Column_name", how = "type_of_join")

In [2]:
import pandas as pd

In [3]:
df_customers = pd.DataFrame({
    "CustomerId" : [1,2,3],
    "CustomerName": ["A", "B", "C"]
})

In [5]:
df_orders = pd.DataFrame({
    "CustomerId" : [ 1,2,4],
    "OrderAmount" : [ 250, 450,950]
     
})

In [12]:
df_merged = pd.merge(df_customers, df_orders, on="CustomerId", how="left")

In [13]:
df_merged

   CustomerId CustomerName  OrderAmount
0           1            A        250.0
1           2            B        450.0
2           3            C          NaN