df["Column_name"].mean()

df["Column_name"].sum()

df["Column_name"].min()

df["Column_name"].max()

In [3]:
import pandas as pd

In [4]:
data = {
    "Name": ["Amit", "Sita", "Raj", "Priya", "Vikram", "Anjali", "Rohan", "Kiran", "Meera"],
    "Age": [25, 30, 28, 35, 40, 29, 32, 26, 31],
    "Salary": [50000, 60000, 55000, 75000, 80000, 52000, 70000, 48000, 65000],
    "Performance": ["Good", "Excellent", "Average", "Excellent", "Good", "Average", "Good", "Poor", "Excellent"]
}

In [5]:
df = pd.DataFrame( data )

In [6]:
df["Salary"].mean()

np.float64(61666.666666666664)

In [7]:
df["Salary"].min()

np.int64(48000)

In [8]:
df["Salary"].max()

np.int64(80000)