In Pandas, the .describe() function is used to generate summary statistics of your dataset.

ðŸ”¹ What it does

By default (numeric columns only), it gives:

count â†’ number of non-null values

mean â†’ average

std â†’ standard deviation

min â†’ minimum

25%, 50%, 75% â†’ quartiles (spread of data)

max â†’ maximum

In [4]:
import pandas as pd

In [5]:
data = {
    "Name" :["Ram", "Shyam ", "Ghanshyam", "Balram", "Hari"],
    "Age": [25, 30, 28, 35, 40],
    "Salary": [50000, 60000, 55000, 75000, 80000]
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df.describe()

            Age        Salary
count   5.00000      5.000000
mean   31.60000  64000.000000
std     5.94138  12942.179106
min    25.00000  50000.000000
25%    28.00000  55000.000000
50%    30.00000  60000.000000
75%    35.00000  75000.000000
max    40.00000  80000.000000

std is used to check consistency and to  detect varience.

50% value median.

How big is your dataset?

hat are the names of the column must known?

shapes and column

In [10]:
df.shape

(5, 3)

In [12]:
print(f"Column: {df.columns}")

Column: Index(['Name', 'Age', 'Salary'], dtype='object')