Interpolation is the method in which the missing value is filled with estimated value.



ðŸ”¹ What is Interpolation?

Interpolation is a method to **fill missing values (NaN)** by estimating them using existing data.
Instead of filling with a fixed value (like mean/median), interpolation **guesses values** in a smarter way.

---

ðŸ”¹ Syntax

```python
df["Column"].interpolate(method="linear", inplace=True)
```

---

ðŸ”¹ Common Interpolation Methods

1. **Linear (default)**
   Fills NaN with values on a straight line between previous and next numbers.

   ```python
   df["Age"].interpolate(method="linear", inplace=True)
   ```

2. **Time-based** (if index is datetime)

   ```python
   df["Sales"].interpolate(method="time", inplace=True)
   ```

3. **Polynomial** (curve fitting)

   ```python
   df["Age"].interpolate(method="polynomial", order=2, inplace=True)
   ```

1 - It preserves data integrity

2 - Smooth Trends

3 - Avoid data loss

.interpolate()

In [8]:
import pandas as pd

In [9]:
data = {
    "Name": ["Amit", "Sita", None, "Priya", "Vikram", None, "Rohan", "Kiran", "Meera"],
    "Age": [25, 30, 28,None, 40, 29, 32, 26, 31],
    "Salary": [50000, 60000, 55000, None, 80000, 52000, 70000, None, 65000],
    "Performance": ["Good", "Excellent", None, "Excellent", "Good", "Average", "Good", "Poor", "Excellent"]
}

In [10]:
df = pd.DataFrame(data)

In [11]:
df.interpolate(method="linear",  axis = 0 , inplace= True)

/var/folders/jl/xxjcm0qx7xj346hs52l0ppkc0000gn/T/ipykernel_5733/2750149170.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method="linear",  axis = 0 , inplace= True)

In [12]:
df

     Name   Age   Salary Performance
0    Amit  25.0  50000.0        Good
1    Sita  30.0  60000.0   Excellent
2    None  28.0  55000.0        None
3   Priya  34.0  67500.0   Excellent
4  Vikram  40.0  80000.0        Good
5    None  29.0  52000.0     Average
6   Rohan  32.0  70000.0        Good
7   Kiran  26.0  67500.0        Poor
8   Meera  31.0  65000.0   Excellent